<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">About This Angular app!</h1><hr>
    <h4><u>What is Angular?</u></h4><hr>
    <p class="lead">Angular is a development platform, built on TypeScript. As a platform, Angular includes: A component-based framework for building scalable web applications. A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management, client-server communication, and more.</p>
    <hr class="my-4">
    <p>Since I'm using Typescript, should I just create a shared folder inside components directory and inside it:

      Create a component e.g: formatDate.component.ts with export class FormateDateComponent and just add my function there and import where I want?
      
      What would be the best practice..</p>

    <p class="lead">If you want to know everything about Angular? ' press the button below!' <br><br>
      <a class="btn btn-primary btn-lg" href="https://angular.io/guide/architecture#:~:text=Angular%20is%20written%20in%20TypeScript,Angular%20framework%20are%20Angular%20components." role="button">click here</a>
    </p>
  </div>
</div>